html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cards {
  display: flex;
}

.cards div {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

h2 {
  padding: 1.5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-radius: 8px;
  border: 3px;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
  background-color: #333;
  color: #f2f2f2;
}

.quest {
  background-color: #e2e2e2;
}

.knights {
  background-color: #ccc;
}

.dragon {
  background-color: #aaa;
}

.light {
  background-color: #999;
}

img {
  width: 100px;
  margin: 0 auto 1.5rem;
}

div {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.cards p {
  flex-grow: 1;
}
